html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: rgb(221, 221, 216);
    display:grid;
    align-content: center;
}

#bilde {
    height: 500px;
    width:500px;
    background-color: lightgrey;
}

main {
    text-align: center;
    display:grid;
    justify-content: center;
    gap:1em;
}

#knapper {
    display:flex;
    justify-content: space-around;
}