html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display:grid;
    justify-items: center;
    align-items: center;
}

#skjema {
    display:flex;
    flex-direction: column;
    gap:1em;
}